.form-wrapper {
  background: white;
  padding: 15px;
  -webkit-box-shadow: 2px 2px 8px 4px rgba(28,64,119,1);
-moz-box-shadow: 2px 2px 8px 4px rgba(28,64,119,1);
box-shadow: 2px 2px 8px 4px rgba(28,64,119,1);
  transition: opacity 300ms ease-in-out;
}
.form-wrapper:after {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  content: ".";
  font-size: 0;
}
.form-wrapper.is-sent {
  animation: launch 1.5s ease-in-out;
}

.floating-label-form-group {
  margin-bottom: 10px;
  border-bottom: 1px solid #1C4177;
}

.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 1.8em;
  margin: 0;
  font-size: 1em;
  line-height: 1em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0 0 6px 0!important;
	margin-bottom: 0!important;
  border: none;
  border-radius: 0;
  font-size: 1em;
  background: none;
  box-shadow: none !important;
  resize: none;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0091EA;
}

.send-btn {
  background: #1C4177;
  border: none;
	border-radius: 10px!important;
  padding: 10px 20px;
  font-size: 1.3em;
  color: white;
  font-family: "Raleway";
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.2);
  transition: transform 200ms ease-in-out;
}
.send-btn:hover {
  transform: translate(15px, 0px) scale(1.1);
}

@keyframes launch {
  0% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  10%, 15% {
    transform: translateX(0) scale(0.5);
  }
  30%, 35% {
    transform: translateX(-20) scale(0.5);
  }
  40%, 70% {
    transform: translateX(100vw) scale(0.5);
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
    transform: translateX(100vw) scale(0.5);
  }
  72% {
    opacity: 0;
    transform: translateX(0px) scale(0.5);
  }
  100% {
   opacity: 1;
    transform: translateX(0px) scale(1);
  }
}